
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<html>
<head>
  <title>Error 404</title>
</head>
<body>
<div class="d-flex justify-content-center align-items-center" id="main">
  <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
  <div class="inline-block align-middle">
    <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
  </div>
</div>
<center>
  <div class="container">
    <span sec:authorize="isAuthenticated()">
     <a th:href="@{/game-boot/main}">Go to the main  | </a>
    </span>
    <span>
            <a th:href="@{/logout}"> Sign in</a>
        </span>
  </div>
</center>
</body>
</html>